{% extends "layouts/admin-lte.html" %}

<!-- Title -->
{% block title %}Materias{% endblock %}

<!-- Start Custom CSS Block -->
{% block css_page %}
<!-- Start CSS Page -->
<style>
    /**/
</style>
<link rel="stylesheet" href="">
<!-- End CSS Page -->
{% endblock %}
<!-- End Custom CSS Block -->

<!-- Page Title -->
{% block page_title %}Materias{% endblock %}

<!-- Navegation Page -->
{% block page_navigation %}
<li class="breadcrumb-item active">Materias</li>
{% endblock %}

<!-- Main Content -->
{% block main_content %}
<div class="content">
    <div class="container-fluid">
        <!-- Alerta -->
        {% if message %}
        <div class="{{ alertClass }}" role="alert">
            <strong>Error: </strong> {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-12 d-flex my-3">
                <button class="btn btn-primary" data-toggle="modal" data-target="#matter-modal" onclick="resetModal()">Agregar</button>
            </div>
            <div class="col-12">
                <div class="card">
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover text-nowrap">
                            <thead>
                                <tr>
                                    <th>Materia</th>
                                    <th>Aula</th>
                                    <th colspan="2">Acciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for matter in matters %}
                                <tr>
                                    <td>{{ matter.name }}</td>
                                    <td>{{ matter.classroom.classroom }} {{ matter.classroom.parallel }}</td>
                                    <td>
                                        <button class="btn btn-secondary btn-sm" onclick="getMatter('{{ matter._id }}')" data-toggle="modal" data-target="#matter-modal">Editar</button>
                                    </td>
                                    <td>
                                        <button class="btn btn-danger btn-sm" onclick="deleteMatter('{{ matter._id }}')" data-toggle="modal" data-target="#delete-modal">Eliminar</button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
{% endblock %}

<!-- Create Modal -->
{% include "pages/matters/matter-modal.html" %}

<!-- Delete Modal -->
{% include "pages/matters/delete-modal.html" %}

<!-- Start Custom JS Block -->
{% block js_page %}
<!-- Start Page JS -->
<script>
    const matterForm = $('#matter-form');
    const matterFormDelete = $('#delete-form');

    function getMatter(id) {
        matterForm.attr('action', '/matters/update/' + id);
        $('#matter-modal-header').attr('class', 'modal-header bg-secondary');
        $.get('/matters/' + id, function(data) {
            $('#name').val(data.name);
            $('#classroom').val(data.classroom._id.$oid);
        });
    }

    function deleteMatter(id) {
        matterFormDelete.attr('action', '/matters/delete/' + id)
    }

    function resetModal() {
        $('#matter-modal-header').attr('class', 'modal-header bg-primary');
        $('#name').val(null);
        $('#classroom').val(null);
    }

    function resetFormAttributes() {
        matterForm.attr('action', '/matters');
    }

    function resetMatter() {
        matterFormDelete.attr('action', '#');
    }
</script>
<script src=""></script>
<!-- End Page JS -->
{% endblock %}
<!-- Start Custom JS Block -->