{% extends "layouts/admin-lte.html" %}

<!-- Title -->
{% block title %}Index{% endblock %}

<!-- Start Custom CSS Block -->
{% block css_page %}
<!-- Start CSS Page -->
<style>
    /**/
</style>
<link rel="stylesheet" href="">
<!-- End CSS Page -->
{% endblock %}
<!-- End Custom CSS Block -->

<!-- Page Title -->
{% block page_title %}Starter Page{% endblock %} {% block main_content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12"></div>
        </div>
    </div>
    <!-- /.container-fluid -->
</div>
{% endblock %}

<!-- Start Custom JS Block -->
{% block js_page %}
<!-- Start Page JS -->
<script>
    //
</script>
<script src=""></script>
<!-- End Page JS -->
{% endblock %}
<!-- Start Custom JS Block -->